@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;  
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*para centralizar no meio da tela*/

    height: 627px;
    width: 311px;  /*olhou no gimp o tamanho exato da imagem*/
    background: url(../imagens/frame-iphone.png) no-repeat;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}

/* pode ser "> a >img" ou só img*/
section#redes-sociais img {
    width: 50px;
    margin: 10px;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.400);
    box-sizing: border-box;  /* fez o ícone parar de mover, ficar somente a borda*/
}

section#redes-sociais img:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transform: translate(-3px, -3px); /* Levantadinha do ícone ao colocar o mouse em cima*/
    transition: transform .3s, border 1s;
    border: 2px solid rgba(255, 255, 255, 0.637)
}